@import '_variables.scss';

.Header {
    color: lighten($theme-color, 50%);
    -webkit-app-region: drag;

    .title {
        line-height: 32px;
        padding: 2px 0 0;
        position: fixed;
        font-size: 12px;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }

    .window-buttons {
        height: 100%;
        float: right;
        -webkit-app-region: no-drag;

        button {
            background: transparent;
            border: none;
            color: inherit;
            font-weight: 300;
            line-height: 1.5rem;
            font-size: 10px;
            width: 46px;
            height: 32px;
            padding: 0;
            outline: none;
            font-family: segoe;

            &:hover {
                color: white;
                background: rgba(255, 255, 255, 0.15);
            }
        }

        .min {
            position: relative;
            line-height: -0.5em;
        }

        .close {
            &:hover {
                background: $window-chrome-close-color;
            }
        }
    }
}